/* All CSS styles go here */

.topnav {
  background-color: #19120B;
  overflow: hidden;
}
.logo {font-family: carol-gothic,sans-serif;
font-weight: 400;
font-style: normal; font-size:45px; color: white;text-align: center;}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 160px;
  font-family: farmhand-sans-inline,sans-serif;
font-weight: 400;
font-style: normal;font-size: 30px;text-decoration: none;
}
.topnav a:hover {
  ;
}

  .topnav a.active {
  background-color: #cf1b00;
  color: white;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}





.container {background-color: #19120B; margin: 0; padding: 0}
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }


.gnome{ width: auto;}

.boxoutline{width: 1600px;
  padding: 70px;
  border: 5px solid #E9DBB6;
  margin: 0; margin-left: auto;
    margin-right: auto; position: absolute;top:750px; left: 40px}

.bumpertitle {color: white; font-size: 25px;font-family: farmhand-sans,sans-serif;
font-weight: 400;
font-style: normal}

.bumpertext {color:#E9DBB6;font-size: 15px; grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;line-height: 250%;
background-repeat: no-repeat;}

.painters{ height: 350px; width: 350px;position: absolute; left:1000px; bottom:-700px}


.texthistory {color:#E9DBB6;font-size: 15px;}



.woodbackround {background-color:#172D1C; height:120%;
  width: 100%; z-index: 3;margin-top: -10px}

.historytitle {color: white; font-size: 25px;font-family: farmhand-sans,sans-serif;
font-weight: 400;
font-style: normal}
